body {
  background: #F5F5F5;
}

.App {
  text-align: left;
}

.App-header {
  margin-bottom: 1em;
}

.App-main {

}

.App-footer {
  background-color: #f5f5f5;
}

.footer > .container {

}

@media (prefers-reduced-motion: no-preference) {

}
